.head
  .head_title
    = link_to root_path, class: "icon2" do
      KASUGA*PORTFOLIO

.main   
  #particles-js
    .main-box
      .main_title
        プログラミング道場
  .main_proflie
    = link_to image_tag(src="image4.jpg", alt: "プログラミング道場", class: "image2"), "https://webgame001.herokuapp.com/"
    .main_proflie_title
      使用SKILL
      .main_proflie_title_sub
        HTML/CSS/Ruby/Rails/JavaScript/AWS/Github
    .main_proflie_title
      説明
      .main_proflie_title_sub
        プログラミングを上達させるために作ったサイト
        %br
        プログラミングクイズとメソッドのタイピングゲームが楽しめる。
        %br
        %br
        = link_to "https://webgame001.herokuapp.com/", class: "icon3" do
          「プログラミング道場」はこちら
        %br
        = link_to "https://github.com/kasugatakuya/webgame", class: "icon3" do
          README.mdはこちら
  %button.root-back
    = link_to root_path, class: "icon4" do
      トップ画面に戻る



= render "foot"