.head
  .head_title
    = link_to root_path, class: "icon2" do
      KASUGA*PORTFOLIO
  .head_manu
    .head_manu_manu1
      PROFLIE
    .head_manu_manu2
      WORKS
    .head_manu_manu3
      CONTACT

.main   
  .main_title
    KASUGA*PORTFOLIO
  .main_proflie
    .main_proflie_title
      %i.fas.fa-male
      PROFILE
      .main_proflie_title_sub
        〜プロフィール〜
    .main_proflie_content
      .main_proflie_content_image
        = image_tag "image1.jpg", size: "430x300", alt: "顔写真1", class: "image1"
      .main_proflie_content_text
        .main_proflie_content_text_name
          春日 拓也
          %br
          （かすが たくや）
        .main_proflie_content_text_text1
          お寿司大好き
          %br
          長野県伊那市出身
          %br
          1992年4月3日生まれ（27歳)
          %br
          薬剤師として調剤薬局で２年半勤めた後
          %br
          プログラミングの魅力に心を打たれ
          %br
          新しいサービスを作りたいと思い
          %br
          エンジニアになる事を決意する。
          %br
          TECH::EXPERT64期卒業生
          %br
        .main_proflie_content_text_title
          SKILL
        .main_proflie_content_text_text1
          HTML/CSS/Ruby/Rails/JavaScript/
          %br
          jQuery/SQL/AWS/Github
        .main_proflie_content_text_title
          SNS
        .main_proflie_content_text_sns
          = link_to "https://twitter.com/ksksw13", class: "icon" do
            %i.fab.fa-twitter-square
          = link_to "https://github.com/kasugatakuya", class: "icon" do
            %i.fab.fa-github-square


  .works
    .works_title
      %i.fas.fa-pen
      WORKS
      .works_title_sub
        〜制作実績〜
    .works_content
      = link_to image_tag(src="image2.jpg", size: "500x320", alt: "川柳縛り", class: "image1"), senryu_path
      = link_to image_tag(src="image3.jpg", size: "500x320", alt: "メルカリ", class: "image1"), mercari_path 
      = link_to image_tag(src="image4.jpg", size: "500x320", alt: "ゲーム", class: "image1"), game_path
      = link_to image_tag(src="image5.jpg", size: "500x320", alt: "isara模写", class: "image1"), isara_path
      = link_to image_tag(src="image7.jpg", size: "500x320", alt: "テトリス", class: "image1"), tetris_path
  .contact
    .contact_title
      %i.fas.fa-envelope
      CONTACT
      .contact_title_sub
        〜お問い合わせ〜
        %br
        ご依頼やご相談などございましたら
        %br
        下記のフォームかTwitterのDMからお問い合わせください
    .contact_form
      %form{action: "https://docs.google.com/forms/u/0/d/e/1FAIpQLSctTB3nEsqAHqGPD6kWTd-3l9WczQHit3Y0jPb91zM0oFCvmw/formResponse",method: "POST"}
        .form-group
          %label{for: "name"} お名前
        %br
          %input.quantumWizTextinputPaperinputInput.exportInput{"aria-describedby" => "i.desc.2123909578 i.err.2123909578", "aria-label" => "名前", :autocomplete => "off", "data-initial-dir" => "auto", "data-initial-value" => "", :dir => "auto", :jsname => "YPqjbf", :name => "entry.1535126923", :required => "", :tabindex => "0", :type => "text", :value => ""}/
        %br
          %label{for: "email"} メールアドレス
        %br
          %input.quantumWizTextinputPaperinputInput.exportInput{"aria-label" => "メールアドレス", :autocomplete => "email", "data-initial-dir" => "auto", "data-initial-value" => "", :dir => "auto", :jsname => "YPqjbf", :name => "emailAddress", :required => "", :tabindex => "0", :type => "email", :value => ""}/

        .form-group
          %label{for: "message"} メッセージ
        %br
          %textarea.quantumWizTextinputPapertextareaInput.exportTextarea{"aria-describedby" => "i.desc.59398304 i.err.59398304", "aria-label" => "メッセージ", "data-initial-dir" => "auto", "data-initial-value" => "", "data-rows" => "1", :dir => "auto", :jsaction => "input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;", :jscontroller => "gZjhIf", :jsname => "YPqjbf", :name => "entry.1734148990", :required => "", :style => "height: 200px;", :tabindex => "0"}

        %button.btn.btn-primary{type: "submit"} 送信する


  .top
    %i.fas.fa-angle-double-up


.foot
  .foot_content
    = link_to "https://twitter.com/ksksw13", class: "icon" do
      %i.fab.fa-twitter-square
    = link_to "https://github.com/kasugatakuya", class: "icon" do
      %i.fab.fa-github-square