.head
  .head_title
    = link_to root_path, class: "icon2" do
      KASUGA*PORTFOLIO

.main   
  .main_title
    Fmarket
  .main_proflie
    = link_to image_tag(src="image3.jpg", alt: "川柳縛り", class: "image2"), "http://3.113.185.115/"
    .main_proflie_title
      使用SKILL
      .main_proflie_title_sub
        HTML/CSS/Ruby/Rails/JavaScript/jQuery/SQL/AWS/Github
    .main_proflie_title
      説明
      .main_proflie_title_sub
        TECH::EXPERT64期最終課題制作物
        %br
        スクラムによるアジャイル開発で実装したメルカリコピーサイト
        %br
        私は新規登録・ログイン機能・商品詳細・商品編集・パンくず・フッターを担当
        %br
        %br
        = link_to "http://3.113.185.115/", class: "icon3" do
          「Fmarket」はこちら
        %br
        = link_to "https://github.com/kasugatakuya/freemarket_sample_64j", class: "icon3" do
          README.mdはこちら


.foot
  .foot_content
    = link_to "https://twitter.com/ksksw13", class: "icon" do
      %i.fab.fa-twitter-square
    = link_to "https://github.com/kasugatakuya", class: "icon" do
      %i.fab.fa-github-square